/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Kristi&family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@700&display=swap');

/* --- Generel Styling (mobile) --- */
:root{ 
    --bg-primary: rgb(34, 34, 34, 1);
    --bg-secondary: rgb(44, 42, 42, 1);

    --clr-primary-moss: rgb(117, 139, 77, 1);
   
    --clr-primary-forest: rgb(77, 126, 69, 1);
    --clr-secondary-forest: rgb(57, 93, 51, 1);

    --margin: clamp(20px, 6vw, 100px);
}

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', 'san-serif';
    line-height: 1.2;
    color: #fff;
    background-color: var(--bg-primary);
}

h1{
    font-size: 1rem;
    text-transform: uppercase;
    margin: 15px auto;
}

h2{
    font-family: 'Source Serif Pro';
    text-transform: uppercase;
    font-size: 1.725rem;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

h3{
    font-size: 1.5rem;
    text-transform: uppercase;
}

h4{
    font-size: 1.125rem;
}

p{
    font-family: 'PT Sans Narrow', 'san-serif';
    font-size: 1rem;
    line-height: 1.6;
}

h3,
h4,
p{
    margin: 10px 0;
}

a{
    font-size: 1rem;
}

a{
    text-decoration: none;
    color: #fff;
}

img{
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.text-center{
    text-align: center;
}

.split{
    display: flex;
    flex-direction: column;
}

section{
    padding: 4rem 0 ;

}

.about-me,
.services,
.cases-section,
.contact-section{
    margin-inline: auto;
    width: min(80%, 90rem);
}

.bg-primary{
    background-color: var(--bg-primary);
}

.bg-secondary{
    background-color: var(--bg-secondary);
}

/* --- Generel Styling (Desktop) --- */
@media(min-width: 960px){
    h2{
        font-size: 2.75rem;
    }
    h3{
        font-size: 1.5rem;
    }
    h4{
        font-size: 1.375rem;
    }
    p{
        font-size: 1.125rem;
    }
    h3,
    h4,
    p{
        margin-bottom: 10px;
    }
    .split{
        flex-direction: row;
    }
    .split > *{
        flex-basis: 100%;
    }
    .split > * + *{
        margin-left: 4em;
    }
    section{
        padding: 6rem 0 ;
    }
}

/* --- Header + navbar (mobile) --- */
header{
    background: rgb(34, 34, 34, 0.8);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    line-height: 2;
}

nav{
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: rgb(34, 34, 34, 0.9);
    width: 100%;
    transform: scale(1,0);
    transform-origin: top ;
    transition: transform 350ms ease-in-out;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a{
    text-decoration: none;
    opacity: 0;
    transition: opacity 250s ease-in-out;
}

nav a:hover{
    color: var(--clr-primary-moss);
}

.nav-check:checked ~ nav{
    transform: scale(1,1);
}

.nav-check:checked ~ nav a{
    opacity: 1;
    transition: opacity 300ms ease-in-out 300ms;
}

.nav-check{
    display: none;
}

.nav-toggler{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggler span,
.nav-toggler span::before,
.nav-toggler span::after{
    display: block;
    background: #fff;
    height: 3px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggler span::before,
.nav-toggler span::after{
    content: '';
    position: absolute;
}

.nav-toggler span::before{
    bottom: 7px;
}

.nav-toggler span::after{
    top: 7px;
}

/* --- Header + navbar (Desktop) --- */ 
@media(min-width: 960px){
    .nav-toggler{
        display: none;
    }
    header{
        display: grid;
        grid-template-columns: 7em auto minmax(550px, 1fr) 7em;
    }
    .logo{
        grid-column: 2 / 3;
    }
    nav{
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    nav ul{
        display: flex;
        justify-content: flex-end;
    }
    nav li{
        margin-left: 4em;
        margin-bottom: 0;
    }
    nav a{
        opacity: 1;
        position: relative;
    }
    nav a:before{
        content: '';
        display: block;
        height: 2px;
        background: var(--clr-primary-moss);
        position: absolute;
        bottom: -0.5em;
        left: 0;
        right: 0;
        transform: scale(0,1);
        transform-origin: left;
        transition: transform ease-in-out 400ms;
    }
    nav a:hover::before{
        transform: scale(1,-1);
    }
}

/* --- Banner landing page --- */
.banner{
    width: 100%;
    height: auto;
    background-image: url('../image/banner-image.jpg');
    background-size: cover;
}

.banner-content{
    text-align: center;
    padding-top: 10vh;
}

/* --- Content --- */

/* Knapper */
.btn{
    text-transform: uppercase;
    border: none;
    outline: none;
    font-size: 1rem;
    margin-top: 10px;
    padding: 10px 36px;
    background: var(--clr-primary-forest);
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.btn:hover,
.btn:focus,
.btn:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* Services */
.services h3{
    margin-bottom: 40px;
}

.services .box{
    position: relative;
    height: 250px;
    margin: 10px;
}

.services .box .icon i{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 35px;
    margin-top: 40px;
}

.services .box .text{
    margin-top: 90px;
}

.services .box h4,
.services .box p,
.services .box .btn{
    text-align: center;
}

#card{
    background-color: var(--clr-secondary-forest);
    cursor: pointer;
    transition: all 0.3s ease;
}

#card:hover{
    background-color: var(--clr-primary-forest);
}

/* Cases landing page */


/* Contact */

.contact-section img{
    display: block;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.contact-info p{
    margin-bottom: 40px;
}

.contact-info ul li{
    list-style: none;
    font-size: 0.7rem;
    margin-bottom: 30px;
}

.contact-info ul li i{
    margin-right: 10px;
}

/* Cases */
.cases{
    margin: auto var(--margin);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.box{
    padding: 15px;
    margin-bottom: 2rem;
    border-radius: 5px;
    background-color: var(--bg-secondary);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.box img{
    border-radius: 5px;
}

.box:hover{
    transform: scale(1.03);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

/* --- Content (Desktop) --- */

@media(min-width: 720px){
    .contact-info ul li,
    .work-area ul li,
    .work-area-2 ul li{
        font-size: 1rem;
    }
    .project-info{
        margin-left: 5rem;
    }
}

@media(min-width: 960px){
    .about-me img{
        margin-bottom: 0;
    }
    .contact-info ul li{
        font-size: 1.125rem;
    }
    .services .box{
        height: 300px;
    }
}

/* --- Footer --- */

footer{
    text-align: center;
}

.social i{
    font-size: 1.4rem;
    margin: 40px 16px;
}

footer p{
    font-size: 0.8rem;
    padding-bottom: 20px;
}

